<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Video" version="3.8.0" targetFramework="net45" />
  <package id="Accord.Video.FFMPEG" version="3.8.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Essy.Tools.InputBox" version="1.0.0" targetFramework="net45" />
  <package id="LiteDB" version="4.1.4" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.109.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.109.1" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.109.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.109.0" targetFramework="net45" />
  <package id="ThinkGearNET" version="1.1.1" targetFramework="net45" />
  <package id="Tobii.EyeX.Client" version="1.8.503" targetFramework="net45" />
  <package id="Tobii.EyeX.Framework" version="1.8.503" targetFramework="net45" />
  <package id="Tobii.Interaction" version="0.7.3" targetFramework="net45" />
</packages>